/* ----- Google Fonts Reference -----*/

@import url('https://fonts.googleapis.com/css?family=Gotu|Montserrat:100,200,300,400,500,600,700');

/* ----- Colours ----- */

body{
    font-family: "Montserrat", sans-serif;
    /* background-color: #fffaf0; */
    
    background-image: url("../images/a-d-bg2.jpeg"); 
}

#title-header, #title-footer, .branch-header, .branch-footer{
    color:#cd853f;
}
.branch-header, .branch-footer{
    background-color:rgba(255, 250, 240,0.8);
}


/* ----- Underline Reveal - Colour -----*/
/* I was able to adjust these specifications from the Github documentation: */
/* https://github.com/IanLunn/Hover/blob/master/css/hover.css */


.title-logo .hvr-underline-from-center:before {
    background-color:#cd853f;
    height: 2px;
    transition-duration: 0.4s;
}
.branch-logo .hvr-underline-from-center:before {
    background-color:#cd853f;
    height: 2px;
    transition-duration: 0.4s;
}
.hvr-underline-from-center:before {
    background-color:#cd853f;
    height: 1px;
    transition-duration: 0.4s;
}

/* ----- Dimensions ----- */
/* ----- This section dictates the dimensions of each element necessary ----- */

#title-main-content{
    height:500px;
}
.branch-header{
    position: fixed;
    width:100%;
    height:100px;
    border-bottom:1px solid #cd853f;
}

.branch-footer{
    position: fixed;
    bottom:0;
    width:100%;
    height:100px;
    border-top:1px solid #cd853f;
}

/* ----- Text ----- */
/* ----- This section dictates the specifications of text ----- */

.uppercase{
    text-transform: uppercase;
}
.fine{
    font-weight: 200;
}

/* ----- Title Header ----- */
/* ----- This will serve as my logo for the title page ----- */

#title-header{
    padding-bottom:25px;
}
.title-logo {
    text-align: center;
    padding-top:125px;
    font-weight:300;
}
.title-logo a {
    text-decoration: none;
    color: #cd853f;
    font-size: 36px;
    letter-spacing: 6px;
    padding:0 25px;
}
.title-motto {
    padding-top:15px;
    letter-spacing: 2px;
}
.title-motto span{
    padding:0 5px;
}
.motto-divider{
    margin: 2px;
    border:0;
    display:none;
}

/* ----- Branch Header ----- */
.branch-logo, .branch-nav-list{
    padding-top:25px;
    font-weight:300;
    display:inline-block;
}
.branch-logo{
    padding-left:35px;
}
.branch-logo a {
    text-decoration: none;
    color: #cd853f;
    font-size: 36px;
    letter-spacing: 6px;
    padding-right:25px;
    line-height:40px;
}
.branch-logo a:hover{
    font-weight:400;
}
.logo-divider{
    display:none;
    margin:0px;
    border:0;
}        
.branch-motto{
    padding-right:25px;
    color: #cd853f;
}
.branch-motto span{
    padding-right:10px;
}

/* ----- Navigation Bar ----- */
/* ----- All specifcations for the nav-bar will be under this. Split into 3 sections ----- */
/* ----- Title page nav-bar, Branch page nav-bar, Social links bar ----- */
/* ----- Title Page Nav-Bar ----- */

.title-nav-bar {
    padding-top:10px;
    text-align:center;
}
.title-nav-list li{
    width: 180px;
}
.title-nav-item{
    border-left: 1px solid #cd853f;
    border-right: 1px solid #cd853f;
    padding: 10px 0px;
}
.title-nav-item a{
    text-decoration: none;
    color: #cd853f;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 0px 20px; 
}
.title-nav-item:hover{
    background-color: rgba(255, 250, 240,0.2);

}
.title-nav-item a:hover{
    font-weight:400;
}

/* ----- This is a sub-division of the Title/Branch Page Nav-Bar ----- */
/* ----- Products Dropdown ----- */

.product-menu {
    display: none;
    align-self: flex-end;
    background-color: #fffaf0;
    border: 1px solid #cd853f;
    width:180px;
    z-index: 1; 
}
.product-menu li a {
    color: #cd853f;
    text-align: center;
    text-decoration: none;
    display: block;
}
.branch-product-menu {
    display: none;
    align-self: flex-end;
    background-color: #fffaf0;
    border: 1px solid #cd853f;
    z-index: 1; 
}
.branch-product-menu li a {
    color: #cd853f;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size:12px;
    margin:0 10px;
}
.branch-product-menu li a:last-child{
    margin-bottom:5px;
}
.product-nav-item a:hover{
    font-weight:400;
}
#misc{
    display: none;
}
/*-----The Products menu will dropdown in screens min-width:800 on the title page-----*/
@media (min-width:800px){
    .products:hover + .product-menu, .product-menu:hover{
        display:inline-block;
        position: absolute;
        bottom:15px;
    }
    
}
@media (min-width:1200px){
    .products:hover + .product-menu, .product-menu:hover{
        display:inline-block;
    }
}
/*-----The Products menu will dropdown on every size for branch pages-----*/
@media (max-width:574px){
    .products:hover ~ .branch-product-menu, .branch-product-menu:hover{
        display:block;
        position: absolute;
        width:100%;      
    }
    .branch-product-menu li {
        display:inline-block;
    }
    .branch-product-menu{
        height:26px;
        border-left:0px;
    }
    .product-nav-item{
        width:23%!important;
    }
    .branch-product-menu li a {
        font-size:12px;
        padding:0;
    }
    #miscellaneous{
        display: none;
    }
    #misc{
        display: inline-block;
    }
}
@media (min-width:575px){
    .products:hover ~ .branch-product-menu, .branch-product-menu:hover{
        display:inline-block;
        position: absolute;
        top:74px;
        right:125px;    
    }
    .branch-product-menu li a {
        font-size:12px;
    } 
}
@media (min-width:1200px){
    .products:hover ~ .branch-product-menu, .branch-product-menu:hover{
        display:inline-block;
        position: absolute;
            
    }
    .branch-product-menu li a {
        font-size:14px;
    } 
}
@media (min-width:1500px){
    .products:hover ~ .branch-product-menu, .branch-product-menu:hover{
        display:inline-block;
        position: absolute;
        top:74px;
        right:175px;    
    }
    .branch-product-menu li a {
        font-size:20px;
    }
}
/* ----- Branch Page Nav-Bar ----- */
.branch-nav-bar ul{
    margin-bottom: 0;
}
.branch-nav-list{
    width:auto;
    line-height: 50px;
    padding-right:10px;
    
}
.branch-nav-list li{
    text-align:center;
    width: auto;
    padding:0 10px;
}
.branch-nav-item a{
    text-decoration: none;
    color: #cd853f;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;   
}
.branch-nav-item:hover{
    background-color: rgba(255, 250, 240,0.2);

}
.branch-nav-item a:hover{
    font-weight:400;
}

/* ----- Social Links Bar ----- */

.title-social-bar{
    width:240px;
    margin-top:20px;
    border-left: 1px solid #cd853f;
    border-right: 1px solid #cd853f;
    font-size:20px;
}
.title-social-bar i{
    padding:10px 0;
    margin:0 20px;
}

/* ----- Carousel -----*/
.carousel-container{
    margin:25px auto;
    max-width:450px;
    max-height:450px;
}
.carousel-inner{
    padding:5px;
    overflow: hidden;
}
/* ----- This hides the secondary carousels on screens max-width:1600px -----*/
.seconndary-carousel{
    display: none;
}
.carousel-control-prev, .carousel-control-next{
    opacity: 0;
}
.carousel-container:hover + .carousel-control-prev +.carousel-control-next +{
    opacity: 0.5;
}
@media (max-width:800px){

    #title-main-content{
        height:300px;
    }

    .carousel-container{
        margin:0 auto;
        width:300px;
        height:300px;
    }
}

/* ----- Branch Page Footer ----- */
.footer-left{
    display: inline-block;
    width:24%;
    
}
.website-details{
    padding:20px 0 0 20px;
    line-height: 10px;
    font-size:14px;
}
.website-details p{
    padding-bottom: 5px;
}
.website-details p a{
    text-decoration: none;
    color: #cd853f;
}
.website-details p a:hover{
    font-weight: 500;
    color: #646464;
}
.footer-center{
    display: inline-block;
    width:50%;
}
.footer-right{
    display: inline-block;
    width:24%;
}
.branch-social-links{
    padding:20px 20px 0 0;
    line-height: 10px;
    font-size:14px;
}
.branch-social-links p a i{
    font-size: 16px;
    padding:5px 10px;
}
..branch-social-links p a i:first-child{
    padding-left:0px;
}
.branch-social-links p a i:hover{
    font-size:18px;
    color: #646464;
}

/* ----- Media Queries ----- */

@media (max-width: 800px){
    
    /* ----- This section dictates the layout of mobile screens (e.g. iPhone) ----- */
    /* ----- This section controls the title page ----- */
    .title-logo{
        padding-top:50px;
    }
    .title-logo a{
        font-size:30px;
    }
    .motto-divider{
        display:block;
    }
    .title-nav-item{
        display:block;
        width:250px;
        padding:10px 0;
    }
    .title-nav-item a {
        font-size: 16px;
    }   
    .title-nav-bar {
        padding-top:25px;
    }
    .title-social-bar{
        width:248px;
    }
    /* ----- This section controls the branch pages ----- */
    .branch-header{
        height:auto;
    }
    .branch-logo{
        padding: 10px 25px;
        background-color: rgba(255, 250, 240,1);
    }
    .branch-logo a{
        line-height:25px;
        font-size:24px;
    }
    .logo-divider{
        display:block;
    }
    .branch-motto span{
        font-size: 10px;
    }
    .motto-divider{
        display: none;
    }
    .branch-nav-bar{
        background-color: rgba(255, 250, 240,0.2);
    }
    .branch-nav-list{
        width:100%;
    }
    .branch-nav-list li{
        width:auto;
        padding:0;
    }
    .branch-nav-item a {
        font-size: 12px;
        margin: 0 5px;
    }
}
@media (max-width:575px){
    .branch-logo{
        border-bottom:1px solid #cd853f;
    }
    .branch-nav-list{
        
        padding:0;
        line-height: 25px;
    }
}
@media (min-width: 575px){
    .branch-nav-list{
        float:right;
        padding-right: 25px;
    }
}
@media (min-width: 2000px){

    .title-logo{
        padding-top:100px;
    }
    .title-logo a{
        font-size:80px;
    }
    .title-motto, .title-social-bar a{
        font-size:48px;
    }
    .title-nav-list{
        width:75%;
    }
    .title-nav-list li{
        width:400px;
    }
    .title-nav-item a{
        font-size: 40px;
    }   
    .title-nav-bar {
        margin-top:25px;
        padding-top:25px;
        align-items: center;
    }
    .product-nav-item a{
        font-size:28px;
    }
    .title-social-bar{
        margin-top:50px;
        width:744px;
    }

    /* ----- This redefines the dimensions of the carousel ----- */

    #title-main-content{
        align-content: center;
        height:800px;
    }
    #carouselExampleInterval{
        width:700px;
        height:700px;
    }
    .carousel-container{
        margin:75px 25px;
        max-width:700px;
        max-height:700px;
    }
    .carousel-inner{
        margin:0 auto;
        width:700px;
        height:700px;
    }
     /* ----- This introduces the secondary carousels in a large screen ----- */
     /* ----- This removes the main carousel in a large screen  ----- */
    .seconndary-carousel{
        display: inline-block;
    }
    .main-carousel{
        display: none;
    }
    .carousel-inner{
        margin:0 auto;
        width:700px;
        height:700px;
    }
    /* ----- This section controls the branch pages ----- */
    .branch-nav-item a {
        font-size: 24px;   
    }
}