/* ----- Google Fonts Reference -----*/

@import url('https://fonts.googleapis.com/css?family=Gotu|Montserrat:100,200,300,400,500,600,700');

/* ----- Colours ----- */

body{
    font-family: "Montserrat", sans-serif;
    /* background-color: #fffaf0; */
    
    background-image: url("../images/a-d-bg2.jpeg"); 
}
#title-header, #title-footer, .branch-header, .branch-footer{
    color:#cd853f;
}
.branch-header, .branch-footer{
    background-color:rgba(255, 250, 240,1);
}


/* ----- Underline Reveal - Colour -----*/
/* I was able to adjust these specifications from the Github documentation: */
/* https://github.com/IanLunn/Hover/blob/master/css/hover.css */


.title-logo .hvr-underline-from-center:before {
    background-color:#cd853f;
    height: 2px;
    transition-duration: 0.4s;
}
.branch-logo .hvr-underline-from-center:before {
    background-color:#cd853f;
    height: 2px;
    transition-duration: 0.4s;
}
.hvr-underline-from-center:before {
    background-color:#cd853f;
    height: 1px;
    transition-duration: 0.4s;
}

/* ----- Dimensions ----- */
/* ----- This section dictates the dimensions of each element necessary ----- */

#title-main-content{
    height:500px;
}
.branch-header{
    position: fixed;
    z-index:1;
    top:0px;
    width:100%;
    height:100px;
    border-bottom:1px solid #cd853f;
}

.branch-footer{
    position: fixed;
    z-index:1;
    color:#a8a8a8;
    bottom:0;
    width:100%;
    height:75px;
    border-top:1px solid #cd853f;
}

/* ----- Text ----- */
/* ----- This section dictates the specifications of text ----- */

.uppercase{
    text-transform: uppercase;
}
.fine{
    font-weight: 200;
}

/* ----- Title Header ----- */
/* ----- This will serve as my logo for the title page ----- */

#title-header{
    padding-bottom:25px;
}
.title-logo {
    text-align: center;
    padding-top:125px;
    font-weight:300;
}
.title-logo a {
    text-decoration: none;
    color: #cd853f;
    font-size: 36px;
    letter-spacing: 6px;
    padding:0 25px;
}
.title-motto {
    padding-top:15px;
    letter-spacing: 2px;
}
.title-motto span{
    padding:0 5px;
}
.motto-divider{
    margin: 2px;
    border:0;
    display:none;
}

/* ----- Branch Header ----- */
.branch-logo, .branch-nav-list{
    padding-top:25px;
    font-weight:300;
    display:inline-block;
}
.branch-logo{
    padding-left:35px;
}
.branch-logo a {
    text-decoration: none;
    color: #cd853f;
    font-size: 36px;
    letter-spacing: 6px;
    padding-right:25px;
    line-height:40px;
}
.branch-logo a:hover{
    font-weight:400;
}
.logo-divider{
    display:none;
    margin:0px;
    border:0;
}        
.branch-motto{
    padding-right:25px;
    color: #cd853f;
}
.branch-motto span{
    padding-right:10px;
}

/* ----- Navigation Bar ----- */
/* ----- All specifcations for the nav-bar will be under this. Split into 3 sections ----- */
/* ----- Title page nav-bar, Branch page nav-bar, Social links bar ----- */
/* ----- Title Page Nav-Bar ----- */

.title-nav-bar {
    padding-top:10px;
    text-align:center;
}
.title-nav-list li{
    width: 180px;
}
.title-nav-item{
    border-left: 1px solid #cd853f;
    border-right: 1px solid #cd853f;
    padding: 10px 0px;
}
.title-nav-item a{
    text-decoration: none;
    color: #cd853f;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 0px 20px; 
}
.title-nav-item:hover{
    background-color: rgba(255, 250, 240,0.2);

}
.title-nav-item a:hover{
    font-weight:400;
}

/* ----- This is a sub-division of the Title/Branch Page Nav-Bar ----- */
/* ----- Products Dropdown ----- */

.product-menu {
    display: none;
    align-self: flex-end;
    background-color: #fffaf0;
    border: 1px solid #cd853f;
    width:180px;
    z-index: 1; 
}
.product-menu li a {
    color: #cd853f;
    text-align: center;
    text-decoration: none;
    display: block;
}
.branch-product-menu {
    display: none;
    align-self: flex-end;
    background-color: #fffaf0;
    border: 1px solid #cd853f;
    z-index: 1; 
}
.branch-product-menu li a {
    color: #cd853f;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size:12px;
    margin:0 10px;
}
.branch-product-menu li a:last-child{
    margin-bottom:5px;
}
.product-nav-item a:hover{
    font-weight:400;
}
#misc{
    display: none;
}
/*-----The Products menu will dropdown in screens min-width:800 on the title page-----*/
@media (min-width:800px){
    .products:hover + .product-menu, .product-menu:hover{
        display:inline-block;
        position: absolute;
        bottom:15px;
    }
    
}
@media (min-width:1200px){
    .products:hover + .product-menu, .product-menu:hover{
        display:inline-block;
    }
}
/*-----The Products menu will dropdown on every size for branch pages-----*/
@media (max-width:574px){
    .products:hover ~ .branch-product-menu, .branch-product-menu:hover{
        display:block;
        position: absolute;
        width:100%;      
    }
    .branch-product-menu li {
        display:inline-block;
    }
    .branch-product-menu{
        height:26px;
        border-left:0px;
    }
    .product-nav-item{
        width:23%!important;
    }
    .branch-product-menu li a {
        font-size:12px;
        padding:0;
    }
    #miscellaneous{
        display: none;
    }
    #misc{
        display: inline-block;
    }
}
@media (min-width:575px){
    .products:hover ~ .branch-product-menu, .branch-product-menu:hover{
        display:inline-block;
        position: absolute;
        top:74px;
        right:125px;    
    }
    .branch-product-menu li a {
        font-size:14px;
    } 
}
@media (min-width:1200px){
    .products:hover ~ .branch-product-menu, .branch-product-menu:hover{
        display:inline-block;
        position: absolute;
        
    }
    .branch-product-menu li a {
        font-size:12px;
    } 
}
@media (min-width:1500px){
    .products:hover ~ .branch-product-menu, .branch-product-menu:hover{
        display:inline-block;
        position: absolute;
        top:74px;
        right:125px;    
    }
    .branch-product-menu li a {
        font-size:16px;
    }
}
@media (min-width:2000px){
    .products:hover ~ .branch-product-menu, .branch-product-menu:hover{
        display:inline-block;
        position: absolute;
        top:74px;
        right:175px;    
    }
    .branch-product-menu li a {
        font-size:18px;
    }
}
/* ----- Branch Page Nav-Bar ----- */
.branch-nav-bar ul{
    margin-bottom: 0;
}
.branch-nav-list{
    width:auto;
    line-height: 50px;
    padding-right:10px;
    
}
.branch-nav-list li{
    text-align:center;
    width: auto;
    padding:0 10px;
}
.branch-nav-item a{
    text-decoration: none;
    color: #cd853f;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;   
}
.branch-nav-item:hover{
    background-color: rgba(255, 250, 240,0.2);

}
.branch-nav-item a:hover{
    font-weight:400;
}

/* ----- Social Links Bar ----- */

.title-social-bar{
    width:320px;
    margin-top:20px;
    border-left: 1px solid #cd853f;
    border-right: 1px solid #cd853f;
    font-size:20px;
}
.title-social-bar i{
    padding:10px 0;
    margin:0 20px;
    color:#cd853f;
}

/* ----- Branch Page Footer ----- */
.footer-left{
    display: inline-block;
    width:33%;
}
.website-details{   
    font-size:14px;
}
.website-details p{
    padding-bottom: 5px;
}
.website-details p a{
    text-decoration: none;
    color: #a8a8a8;
}
.website-details p a:hover{
    font-weight: 500;
    color: #cd853f;
}
.footer-center{
    display: inline-block;
    width:33%;
}
.footer-right{
    display: inline-block;
    width:33%;
}
.branch-social-links a i{
    color:#a8a8a8;
    font-size: 16px;
    padding:5px 10px;
}
.branch-social-links a i:first-child{
    padding-left:0px;
}
.branch-social-links a i:hover{
    font-size:18px;
    color: #cd853f;
}

/* ----- Carousel -----*/
.carousel-container{
    margin:25px auto;
    max-width:450px;
    max-height:450px;
}
.carousel-inner{
    padding:5px;
    overflow: hidden;
}
/* ----- This hides the secondary carousels on screens max-width:1600px -----*/
.seconndary-carousel{
    display: none;
}
.carousel-control-prev, .carousel-control-next{
    opacity: 0;
}
.carousel-container:hover + .carousel-control-prev +.carousel-control-next {
    opacity: 0.5;
}
@media (max-width:800px){

    #title-main-content{
        height:300px;
    }

    .carousel-container{
        margin:0 auto;
        width:300px;
        height:300px;
    }
}

/* ----- About Content ----- */
.about-container{
    color:#868686;
    margin:175px 5%;
    background-color: rgba(255, 250, 240,1);
}
.about-header{
    padding:25px 0 0 50px;
    font-family: "Gotu", sans-serif;
    text-decoration: none;
    letter-spacing: 1px;
}
.about-header a{
    font-size:12px;
    color:#868686;
}
.about-header h3{
    width:auto;
    padding-top: 25px;
    font-size:30px;
    text-decoration: underline;
}
.about-container p{
    display: inline-block;
    margin-bottom:0px;
}
.about-container h5{
    text-decoration: underline;
    display: block;
}
.about-batik-container{
    padding:25px 50px;
}
.about-batik-text,.about-alexis-text{
    display: flex;
}
.about-batik-container img{
    max-width: 200px;
    max-height: 200px;
    padding:5px;
    border: 1px solid #df852c;
    margin-right:10px;
    display: inline-block;
}
.about-alexis-container{
    padding:25px 50px 50px 50px;
}
.about-alexis-container img{
    max-width:200px;
    padding:5px;
    border: 1px solid #df852c;
    display:inline-block;
    margin-left:10px;
}
/* ----- Products Content ----- */
.product-container{
    color:#868686;
    margin:175px 5%;
    background-color: rgba(255, 250, 240,1);
}
.product-header{
    padding:25px 0 0 50px;
    font-family: "Gotu", sans-serif;
    text-decoration: none;
    letter-spacing: 1px;
}
.product-header a{
    font-size:12px;
    color:#868686;
}
.product-header h3{
    width:auto;
    padding-top: 25px;
    font-size:30px;
    text-decoration: underline;
}
.product-header-links{
    width:80%;
    margin:10px auto; 
}
.product-header-links p{
    font-size:14px;
}
.product-header-links li{
    width:20%;
    text-align:center;
    margin:0 auto;
    border-left: 1px solid #a8a8a8;
    border-right: 1px solid #a8a8a8;
}
.product-header-links li a{
    padding:0 10px;
    font-size:14px;
    text-decoration: none;
}
#misc2{
        display:none;
}
.product-display-container{
    padding:25px 50px;
}
.product-display-container h4{
    text-decoration: underline;
    padding-top:5px;
    padding-bottom:5px;
    margin:10px auto;
    border-top:1px solid #df852c;
    border-bottom:1px solid #df852c;
}
.product-display-container .row{
    margin:10px auto;
}
.product-display-container .col-sm{
    max-width:33%;
    left:0;
}
/* ----- Product Modals ----- */
/* ----- This will dictate the size of the buttons and background ----- */
.modal-button-container{
    width:250px;
    height:250px;
    border: 1px solid #df852c;
    border-radius: 4px;
    margin:20px auto;
}
.modal-button{
    width:240px;
    height:240px;
    margin:5px;
}
.col-sm p{
    margin:0 auto;
    max-width:210px;
    font-size:14px;
    color:#a8a8a8;
    text-align: center;
}
.btn-primary{
    background-color: #df852c;
    border:#df852c;
}
.btn-primary:hover{
    background-color: #aa6a2c;
}
.btn-primary:focus{
    box-shadow: 0 0 0 0.2rem rgba(205,133,63,.5)
}
/* ----- This centers the header ----- */
.modal-header{
    display: inline;
}
/* ----- This will dictate the size of the image in the modal  ----- */
.modal-body img{
    width:400px;
    height:400px; 
}
/* ----- Each modal requires a different background ----- */
/* ----- Each id refers to the button shown on products.html ----- */
/* ----- Quilt Buttons ----- */
#blue-quilt-display{
    background-image: url(../images/products/quilts/blue-quilt-display.jpg);
    background-position: center;
    background-size: cover;
}
#green-quilt-display{
    background-image: url(../images/products/quilts/green-quilt-style-1.jpg);
    background-position: center;
    background-size: cover;
}
#red-quilt-display{
    background-image: url(../images/products/quilts/red-green-quilt.jpg);
    background-position: center;
    background-size: cover;
}
/* ----- Jacket Buttons ----- */
#black-jacket-display{
    background-image: url(../images/products/jackets/black-jacket.jpg);
    background-position: center;
    background-size: cover;
}
#green-jacket-display{
    background-image: url(../images/products/jackets/green-jacket.jpg);
    background-position: center;
    background-size: cover;
}
#blue-jacket-display{
    background-image: url(../images/products/jackets/blue-jacket.jpg);
    background-position: center;
    background-size: cover;
}
/* ----- Bag Buttons ----- */
/* ----- Miscellaneous Buttons ----- */
#glasses-cases-display{
    background-image: url(../images/products/miscellaneous/blue-glasses-cases.jpg);
    background-position: center;
    background-size: cover;
}
#tissue-box-display{
    background-image: url(../images/carousel/breakfast-table-tissues.jpg);
    background-position: center;
    background-size: cover;
}
#bottle-bag-display{
    background-image: url(../images/products/miscellaneous/bottle-bags-collection.jpg);
    background-position: center;
    background-size: cover;
}
#pillow-display{
    background-image: url(../images/products/miscellaneous/green-pillow.jpg);
    background-position: center;
    background-size: cover;
}
#coin-purse-display{
    background-image: url(../images/products/miscellaneous/coin-purse-collection.jpg);
    background-position: center;
    background-size: cover;
}
/* ----- Contact Content ----- */
.contact-container{
    color:#868686;
    margin:175px 5%;
    background-color: rgba(255, 250, 240,1);
}
.content-header{
    padding:25px 0 0 50px;
    font-family: "Gotu", sans-serif;
    text-decoration: none;
    letter-spacing: 1px;
}
.content-header a{
    font-size:12px;
    color:#868686;
}
.content-header h3{
    width:auto;
    padding-top: 25px;
    font-size:30px;
    text-decoration: underline;
}
.contact-content{
    padding:25px 0 0 50px;
}
.contact-content p{
    padding-bottom:5px;
}
.contact-content a{
    color:#df852c;
    text-decoration: underline;
}
.contact-social-list{
    padding:0 25px 10px 25px;
    list-style: none;
}
.contact-social-list li i{
    padding:10px 5px;
    color:#df852c;
}
.location-grid{
    padding-bottom:25px;
}
.location-grid h5, .location-grid p{
    padding-bottom: 3px;
}
.contact-form{
    font-family: "Gotu" sans-serif;
    padding:50px 0 0 50px;
}
#full-name,#email-address{
    border:1px solid #df852c;
    width:400px;
}
#your-message{
    border:1px solid #df852c;
    width:1200px;
    height:400px;
}
#send-button{
    height:35px;
    margin-top:5px;
    padding-top:2px;
    color:#868686;
    border:1px solid #868686;
    width:150px;
}

/* ----- Media Queries ----- */

@media (max-width: 800px){
    
    /* ----- This section dictates the layout of mobile screens (e.g. iPhone) ----- */
    /* ----- This section controls the title page ----- */
    .title-logo{
        padding-top:50px;
    }
    .title-logo a{
        font-size:30px;
    }
    .motto-divider{
        display:block;
    }
    .title-nav-item{
        display:block;
        width:250px;
        padding:10px 0;
    }
    .title-nav-item a {
        font-size: 16px;
    }   
    .title-nav-bar {
        padding-top:25px;
    }
    .title-social-bar{
        width:248px;
    }
    /* ----- This section controls the branch pages ----- */
    .branch-header{
        height:auto;
    }
    .branch-logo{
        padding: 10px 25px;
        background-color: rgba(255, 250, 240,1);
    }
    .branch-logo a{
        line-height:25px;
        font-size:24px;
    }
    .logo-divider{
        display:block;
    }
    .branch-motto span{
        font-size: 10px;
    }
    .motto-divider{
        display: none;
    }
    .branch-nav-bar{
        background-color: rgba(255, 250, 240,0.2);
    }
    .branch-nav-list{
        width:100%;
    }
    .branch-nav-list li{
        width:auto;
        padding:0;
    }
    .branch-nav-item a {
        font-size: 12px;
        margin: 0 5px;
    }
    /* This was done not using bootstraps "no-gutters" as it removes all childrens' padding */
    .branch-footer{
        margin: auto 0!important;
    }
    .footer-center{
        display:none;
    }
    /*This needs to be below footer-center due to ordering */
    .footer-left, .footer-right{
        width:50%;
    }
    .website-details{
        font-size:10px;
    }
    .branch-social-links a i{
        font-size:14px;
    }
    .contact-container{
        margin:20% 10%;
    }
    .content-header{
        padding:25px 0 0 5%;
    }
    .contact-content{
    padding:25px 0 0 5%;
    }
    #miscellaneous2{
        display:none;
    }
    #misc2{
        display:inline-block;
    }
}
@media (max-width:575px){
    .branch-logo{
        border-bottom:1px solid #cd853f;
    }
    .branch-nav-list{
        
        padding:0;
        line-height: 25px;
    }
    .contact-container{
        margin:165px 10%;
    }
    .about-container{
        margin-top:150px;
        margin-bottom: 100px;
    }
    .about-header{
        padding:25px 0 0 5%;
    }
    .about-alexis-container, .about-batik-container{
        padding:25px 5%;
    }
    .about-alexis-container img, .about-batik-container img{
        float:left;
        margin-left:0px;
        margin-right:10px;
        width:60%;
        clear:both;
    }
    .about-alexis-container p,.about-batik-container p{
        font-size:12px;
    }
    .product-header{
        padding:25px 0px 0px 0px;
        margin:0 auto;
        text-align: center;
    }
    .product-header-links .list-inline-item:not(:last-child){
        margin:0;
        width:24%;
    }
    .product-header-links li a{
        font-size:10px;
    }
    .product-display-container .col-sm{
        max-width:100%;
        left:0;
    }
}
@media (max-width:320px){
    .product-display-container{
        padding:25px;
    }
    .modal-button{
        width:140px;
        height:140px;
    }
    .modal-button-container{
        width:150px;
        height:150px;
    }
}
@media (min-width: 575px){
    .branch-nav-list{
        float:right;
        padding-right: 25px;
    }
}
@media (min-width: 2000px){

    .title-logo{
        padding-top:100px;
    }
    .title-logo a{
        font-size:80px;
    }
    .title-motto, .title-social-bar a{
        font-size:48px;
    }
    .title-nav-list{
        width:75%;
    }
    .title-nav-list li{
        width:400px;
    }
    .title-nav-item a{
        font-size: 40px;
    }   
    .title-nav-bar {
        margin-top:25px;
        padding-top:25px;
        align-items: center;
    }
    .product-nav-item a{
        font-size:28px;
    }
    .title-social-bar{
        margin-top:50px;
        width:744px;
    }

    /* ----- This redefines the dimensions of the carousel ----- */

    #title-main-content{
        align-content: center;
        height:800px;
    }
    #carouselExampleInterval{
        width:700px;
        height:700px;
    }
    .carousel-container{
        margin:75px 25px;
        max-width:700px;
        max-height:700px;
    }
    .carousel-inner{
        margin:0 auto;
        width:700px;
        height:700px;
    }
     /* ----- This introduces the secondary carousels in a large screen ----- */
     /* ----- This removes the main carousel in a large screen  ----- */
    .seconndary-carousel{
        display: inline-block;
    }
    .main-carousel{
        display: none;
    }
    .carousel-inner{
        margin:0 auto;
        width:700px;
        height:700px;
    }
    /* ----- This section controls the branch pages ----- */
    .branch-nav-item a {
        font-size: 24px;   
    }
}